.Button {
    font-size: 1em;
    color: #fff;
    background-color: maroon;
    border: 0;
    text-transform: uppercase;
    padding: .6em 1em;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: brown;
        transform: translatey(-5px);
        transition: transform .2s;
    }
}