@import "@styles/settings/__settings";


.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 8px solid $color-brand-green;
    background-color: $color-brand-blue;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }